body{
    display: flex;
}

.left-sidenav{
    background-color: aquamarine;
    flex: 0 0 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.right-column{
    background-color: burlywood;
    flex: 1;
}

.icon{
    color: #C4C4C4;
    height: 25px;
}

.nav-logo{
    width: 68px;
    height: 34px;
    margin-top: 50px;
    background-color: coral;
}


.side-nav-line{
    width: 62.24px;
    border: 0;
    border-bottom: 2px solid #C4C4C4;
    align-self: center;
    margin-top: 24.03px;
}